<!-- Show the user details -->
<div class="user-details" [ngClass]="{'favorite': user.favorite, 'not-a-favorite': !user.favorite}">
  <div fxLayout="row" fxLayoutGap="10px" style="padding-bottom: 10px">
    <div fxLayout="column" fxLayoutGap="10px" fxFlex="40">
      <img class="profile" src="./assets/images/profiles/_no_profile.jpg" alt="no-profile" />
    </div>
    <div fxLayout="column">
      <span>dob: {{user.dob}}</span> <br>
      <span>doj: {{user.doj}}</span> <br>
      <!-- <span>doj: {{user.doj | date:"MM/dd/yy"}}</span> <br> -->
      <span *ngIf="user.favorite">Blood Group: {{user.bloodGroup}}</span> <br>
    </div>
  </div>
  <span class="user-name">{{user.name | uppercase}}</span>
  <!-- TODO: Two way data binding for input property-->
  <app-star [isFavorite]="user.favorite" (onFavoriteChange)="updateFavorite($event)"></app-star>
</div>
