:host{
  background-color: white;
  mat-form-field {
    padding: 10px;
  }
  .submit-button {
    padding: 30px;
  }
  form {
    background: white;
    margin: 40px;
    padding: 40px;
    box-shadow: 3px 3px 30px -10px;
  }
}
