<form #addUserForm="ngForm" fxLayout="column" (ngSubmit)="addUser(addUserForm)">

  <!-- <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field> -->

  <input matInput #name="ngModel" id="name" placeholder="Name" name="name" [(ngModel)]="user.name" required>
  <div style="min-height: 40px" [hidden]="name.valid || name.pristine">
    This field is required
  </div>

  <input matInput #dob="ngModel" id="dob" placeholder="DOB" name="dob" [ngModel]="user.dob" required>
  <div style="min-height: 40px" [hidden]="dob.valid || dob.pristine">
    This field is required
  </div>

  <input matInput id="doj" placeholder="DOJ" name="doj" [ngModel]="user.doj" required>

  <label>Select Blood Group</label>
  <select name="bloodGroup" [ngModel]="user.bloodGroup" required>
    <option [value]="">Select Blood Group</option>
    <option *ngFor="let bg of bloodGroups" [value]="bg.value">
      {{bg.value}}
    </option>
  </select>

  {{'Is name valid - '+name.valid}} <br>
  {{'Is Form is fresh - '+addUserForm.pristine}} <br>
  {{user.name}} <br>
  {{user.dob}} <br>
  {{user.doj}} <br>
  {{user.bloodGroup}} <br>

  <div class="submit-button">
    <button mat-flat-button color="primary" type="submit" [disabled]="addUserForm.invalid">Submit</button>
  </div>
</form>
