<form #addUserForm="ngForm" fxLayout="column" fxLayoutAlign="start center" (ngSubmit)="addUser(addUserForm)">

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput #name="ngModel" id="name" placeholder="Enter Name" name="name" [(ngModel)]="user.name" required>
    <mat-hint>Full Name</mat-hint>
    <mat-error [hidden]="name.valid || name.pristine">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>DOB</mat-label>
    <input matInput #dob="ngModel" id="dob" placeholder="Enter DOB" name="dob" [(ngModel)]="user.dob" required>
    <mat-hint>Date of Birth</mat-hint>
    <mat-error [hidden]="name.valid || name.pristine">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>DOJ</mat-label>
    <input matInput #doj="ngModel" id="doj" placeholder="Enter DOJ" name="doj" [(ngModel)]="user.doj" required>
    <mat-hint>Date of Joining</mat-hint>
    <mat-error [hidden]="name.valid || name.pristine">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select Blood Group</mat-label>
    <mat-select [(ngModel)]="user.bloodGroup" name="bloodgroup" required>
      <mat-option *ngFor="let bg of bloodGroups" [value]="bg.value">
        {{bg.value}}
      </mat-option>
    </mat-select>
    <mat-hint>Select a Blood Group</mat-hint>
    <mat-error [hidden]="name.valid || name.pristine">
      This field is required.
    </mat-error>
  </mat-form-field>

  <!-- {{'Is name valid - '+name.valid}} <br>
  {{'Is Form is fresh - '+addUserForm.pristine}} <br>
  {{user.name}} <br>
  {{user.dob}} <br>
  {{user.doj}} <br>
  {{user.bloodGroup}} <br> -->

  <div class="submit-button">
    <button mat-raised-button color="primary" type="submit" [disabled]="addUserForm.invalid">Submit</button>
  </div>
</form>
