<!-- Bring the flex layout-->
<div fxLayout="row wrap" fxLayout.xs="column">
  <ng-container *ngIf="!errMsg; else showErrMsg">
    <div fxFlex.lt-md="50" fxFlex="33" fxFlex.gt-md="25" *ngFor="let user of profileDataService.userListState.$ | async" fxLayoutAlign="center">

      <!-- <ng-container [ngSwitch]="user.favorite"> -->
        <!-- <app-user-details *ngSwitchCase="true" [user]="user"></app-user-details> -->
      <!-- </ng-container> -->
      <app-user-details  [user]="user"></app-user-details>
    </div>
  </ng-container>
  <ng-template #showErrMsg>
    {{errMsg}}
  </ng-template>

</div>

